body
{
  background: url(bubbles.jpg) no-repeat center center;
}
#top
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #97c6f1;
}
#twoButtons
{
  position: absolute;
  margin-top: 10%;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
#numberOfPlayers
{
  position: absolute;
  /*margin-bottom: 10%;*/
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  color: white;
}
#play
{
  padding-right: 2em;
  text-decoration: underline;
  color: #97c6f1;
}
#play:hover
{
  cursor: pointer;
  color: white;
}
#instructions
{
  text-decoration: underline;
  color: #97c6f1;
}
#instructions:hover
{
  cursor: pointer;
  color: white;
}
#three
{
  position: absolute;
  text-decoration: underline;
  color: #97c6f1;
  margin-top: 2em;
  left: 35%;
}
#three:hover
{
  cursor: pointer;
  color: white;
}
#four
{
  position: absolute;
  text-decoration: underline;
  color: #97c6f1;
  margin-top: 2em;
  left: 45%;
}
#four:hover
{
  cursor: pointer;
  color: white;
}
#five
{
  position: absolute;
  text-decoration: underline;
  color: #97c6f1;
  margin-top: 2em;
  left: 55%;
}
#five:hover
{
  cursor: pointer;
  color: white;
}
#six
{
  position: absolute;
  text-decoration: underline;
  color: #97c6f1;
  margin-top: 2em;
  left: 65%;
}
#six:hover
{
  cursor: pointer;
  color: white;
}
#instructionsText
{
  position: absolute;
  margin-top: 20%;
  left: 10%;
  top: 0px;
  text-align: center;
  width: 80%;
  font-size: 2em;
  color: white;
}
#board
{
  position: absolute;
  margin-top: 5%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  color: white;
  text-align: center;
  width: 100%;
}
#deck
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 47.5%;
  top: 40%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#player
{
  position: absolute;
  width: 100vw;
  height: 9vw;
  bottom: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card
{
  /*position: absolute;*/
  width: 6vw;
  height: 9vw;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  /*padding-right: 5%;*/
}
.card:hover
{
  cursor: pointer;
}
#comp1
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 47.5%;
  top: 10%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#comp1:hover
{
  cursor: pointer;
}
#comp2
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 67.5%;
  top: 10%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#comp2:hover
{
  cursor: pointer;
}
#comp3
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 27.5%;
  top: 10%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#comp3:hover
{
  cursor: pointer;
}
#comp4
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 87.5%;
  top: 10%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#comp4:hover
{
  cursor: pointer;
}
#comp5
{
  position: absolute;
  width: 6vw;
  height: 9vw;
  left: 7.5%;
  top: 10%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#comp5:hover
{
  cursor: pointer;
}
#scoresSpan
{
  position: absolute;
  left: 7.5%;
  top: 35%;
  font-size: 1.5em;
  color: white;
  /*display: flex;*/
  text-align: left;
  /*align-items: center;*/
  /*justify-content: center;*/
}
#message1
{
  position: absolute;
  left: 60%;
  top: 40%;
  font-size: 1.5em;
  color: white;
  text-align: left;
}
#message2
{
  position: absolute;
  left: 60%;
  top: 45%;
  font-size: 1.5em;
  color: white;
  text-align: left;
}
#message3
{
  position: absolute;
  left: 60%;
  top: 50%;
  font-size: 1.5em;
  color: white;
  text-align: left;
}
#message4
{
  position: absolute;
  left: 60%;
  top: 55%;
  font-size: 1.5em;
  color: white;
  text-align: left;
}
#winningMessage
{
  position: absolute;
  margin-top: 10%;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
